@charset "UTF-8";


body{
    background-color: rgba(0, 0, 0, 0.678);
}

h1 {
    color: rgb(255, 166, 0);
}

h2 {
    color: white;
}

p {
    color: white;
}

a {
    color: orange;
}

li {
    color: white;
    text-indent: 23px;
}